<h1>Customizing list items</h1>

<section>
  <h2>Intro</h2>
  <p>
    The list component is from a library that we control. It renders data from an input array into items.
    A new requirement comes along where we need to wrap some of the list items in component that we get from another
    library, which we don't control.
    Additionally, we use our library in other projects that don't need to wrap the list items.
  </p>

  <p>
    This means that our library needs to give client applications control over the wrapping code.
  </p>
</section>

<section>
  <h2>Demo section</h2>
  <p>This demo section shows how to render data from the input array in a list component that allows the embedding code
    to provide its own wrapper.</p>

  <app-pet-hero-list [petHeroData]="petHeroData" [itemWrapper]="itemWrapper"></app-pet-hero-list>

  <ng-template #itemWrapper let-item>
    <app-click-to-reveal-wrapper>
      <ng-container [ngTemplateOutlet]="item"></ng-container>
    </app-click-to-reveal-wrapper>
  </ng-template>
</section>
