<h3>PetHeroListComponent</h3>
Here come the Pet Heroes!
The PetHeroListComponent now gets a template reference and will pass the template reference of each item to the wrapper.
<section class="pet-hero-list">
  <ng-container *ngFor="let petHero of petHeroData" [ngTemplateOutlet]="itemWrapper || defaultItemWrapper"
                [ngTemplateOutletContext]="{ $implicit: item, petHero: petHero}">
    <ng-template #item>
      <app-pet-hero-list-item [petHero]="petHero"></app-pet-hero-list-item>
    </ng-template>
  </ng-container>
</section>

<ng-template #defaultItemWrapper let-item>
  <ng-container *ngTemplateOutlet="item"></ng-container>
</ng-template>
